*.log
.vscode
*.DS_Store
.DS_Store?
*.idea
*.iml
test/
*/__pycache__
__pycache__
**/cuda_**/**
*.txt
create_*.sh
*.dat
test_*.py
src/utils/multi-bleu.perl
./src/finetune_eval_config.py
src/finetune_eval_config.py
**/** 2.py
**/** 3.sh
**/** 2.sh
**/** 2.perl
finetune_*
zeroshot_*